html {
	position: relative;
	min-height: 100vh;
	width: 100%;
	background-color: #f8f8ff;
}
body {
	position: relative;
	min-height: 100%;
	margin: 0;
	font-family: Verdana, Ariel;
	font-size: 18px;
}
main {
	position: relative;
	min-height: 100vh;
	margin: 1em 0 0 0;
	padding: 0 0 2em;
	text-align: center;
}
form {
	text-align: center;
	margin: 1em 0 0;
}
#signup-form {
	margin: 0;
}
#form-inner {
	display: inline-block;
	text-align: left;
}
fieldset {
	padding: 1em 0.5em;
}
legend {
	width: auto;
}
label {
	padding-right: 10px;
}
input {
	float: right;
	border: solid black;
	border-width: 1px 2px 2px 2px;
	background-image: -moz-linear-gradient(left top, left bottom, from(#999), to(#fff), color-stop(0.1, #fff));
	background-image: -webkit-gradient(linear, left top, left bottom, from(#999), to(#fff), color-stop(0.1, #fff));
	padding: 5px 2px;
	font-size: 16px;
}
.submit-button {
	margin: 1em auto;
	padding:  3px 5px;
	color: #fff;
	border: 1px solid #000;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	text-shadow: 0 -1px 0 #000;
	background-image: -moz-linear-gradient(left top, left bottom, from(#ccc), to(#999), color-stop(0.2, #999));
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#999), color-stop(0.2, #999));
	cursor: pointer;
	float: none;
	display: block;
}
#login-button {
	margin: 0 auto 1em;
}
.err-message {
	clear: both;
	margin: 0;
	color: red;
	height: 22px;
	font-size: 14px;
}
@media only screen and (max-width: 350px) {
input[type="text"], input[type="email"], input[type="password"] {
	width: 35%;
}
}
@media only screen and (min-width: 351px) and (max-width: 380px) {
input[type="text"], input[type="email"], input[type="password"] {
	width: 40%;
}
}
@media only screen and (min-width: 381px) and (max-width: 420px) {
input[type="text"], input[type="email"], input[type="password"] {
	width: 45%;
}
}
@media only screen and (min-width: 370px) {
	fieldset {
		padding: 1em 0.75em;
}
}
@media only screen and (min-width: 600px) {
	fieldset {
		padding: 2em;
}
}
@media only screen and (min-width: 768px) {
	main {
		margin: 3em 0 0;
		padding: 0;
	}
}